<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Mission to Mars</h1>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

    <div class="container">
        <h1>Latest Mars News</h1>
        <p>{{ mars_data.news_title }}</p>
        <p>{{ mars_data.news_p }}</p>
    </div>
    <br>
    <div class="container">
       <div class='col-lg-4'>
           <h1>Featured Mars Image</h1>
           <img src = '{{ scrape.full_url }}'>
       </div>
       <div class='col-lg-4'>
            <h2>Current Weather on Mars</h2>
            <p>{{ scrape.mars_weather }}</p>
           <br>
           <h1>Mars Facts</h1>
           <table>
               {{ scrape.html_table }}
           </table>
       </div>
    </div>
    <br>
    <div class ='container'>
        <h1>Mars Hemispheres</h1>
        {% for hemisphere in scrape.hemis%}
            <div class='col-lg-6'>
                <img src= '{{ hemis.img_url }}'>
                <h1>{{ hemis.title }}</h1>
            </div>
        {% end for %}
    </div>
</body>


</html>